{% include 'text-with-image' %}

{% schema %}
{
  "name": "Engagements section 3",
  "settings": [
    {
      "type": "text",
      "id": "anchor",
      "label": "section anchor"
    },  
    {
      "type": "checkbox",
      "id": "display",
      "label": "Display section ?",
      "default": true
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background color",
      "default": "#f9d8c4"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 1200px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image-mobile",
      "label": "Image mobile"
    },
    {
      "type": "checkbox",
      "id": "image-reverse",
      "label": "Reverse block order",
      "default": false,
      "info": "Displays the image under the text in mobile"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>",
      "info": "Include class 'listcolor-1 or listcolor-2'"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_text-2",
      "label": "Link text 2"
    },
    {
      "type": "url",
      "id": "link_url-2",
      "label": "Link URL 2"
    },
    {
      "type": "text",
      "id": "link_text-3",
      "label": "Link text 3"
    },
    {
      "type": "url",
      "id": "link_url-3",
      "label": "Link URL 3"
    }
  ],
  "blocks": [
    {
      "type": "dropdown",
      "name": "Dropdown",
      "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Title",
           "default": "Les bons ingredients"
         },
         {
           "type": "textarea",
           "id": "content",
           "label": "Content",
           "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
         }
      ]
    }
  ]
}
{% endschema %}
